<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFTPtoDDCOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFTPtoDDCOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SFTPtoDDCOS.My.MySettings>
            <setting name="emailalerts" serializeAs="String">
                <value>steve.harrison@firsthelpline.com</value>
            </setting>
            <setting name="exceptionsemail" serializeAs="String">
                <value>steve.harrison@firsthelpline.com</value>
            </setting>
            <setting name="timerinterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="email_user" serializeAs="String">
                <value>SFTPDDCOS</value>
            </setting>
            <setting name="email_password" serializeAs="String">
                <value>1q2w3e4r%T</value>
            </setting>
            <setting name="foldertomoveto" serializeAs="String">
                <value>Processed</value>
            </setting>
            <setting name="email_domain" serializeAs="String">
                <value>Fundraising</value>
            </setting>
            <setting name="sftpusername" serializeAs="String">
                <value>testsftp</value>
            </setting>
            <setting name="sftppassword" serializeAs="String">
                <value>1q2w3e4r%T</value>
            </setting>
            <setting name="sftphost" serializeAs="String">
                <value>192.168.10.10</value>
            </setting>
            <setting name="sftpfingerprint" serializeAs="String">
                <value>ssh-rsa 1024 98:f4:ac:75:a0:28:60:da:d2:a9:1b:73:b4:9e:fb:4a</value>
            </setting>
            <setting name="emailuseraddress" serializeAs="String">
                <value>SFTPDDCOS@firsthelpline.com</value>
            </setting>
            <setting name="autodiscoveruri" serializeAs="String">
                <value>https://autodiscover.firsthelpline.com</value>
            </setting>
            <setting name="tempfolder" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="fileextension" serializeAs="String">
                <value>csv</value>
            </setting>
        </SFTPtoDDCOS.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SFTPtoDDCOS.My.MySettings>
            <setting name="errorfolder" serializeAs="String">
                <value>errored</value>
            </setting>
        </SFTPtoDDCOS.My.MySettings>
    </userSettings>
</configuration>